<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello Thymeleaf</title>
    </head>
    <body>
        <h1>admin/item/list</h1>

        <table>
            <thead>
                <th>ID</th>
                <th>商品名</th>
                <th>金額</th>
            </thead>
            <tr th:each="product : ${datalist}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.pricae}"></td>
            </tr>
        </table>
    </body>
</html>